@use "../base/variables" as var;

.travel-dome-gallery {
  width: 100%;
  height: 42rem;
  border-radius: 0;
  overflow: visible;
  background: transparent;
  box-shadow: none;


  .sphere-root {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: var.$bp-tablet) {
  .travel-dome-gallery {
    height: 48rem;
  }
}

@media (min-width: var.$bp-desktop) {
  .travel-dome-gallery {
    height: 52rem;
  }
}